@import 'Styles/sizes';
@import 'Styles/timing';

.root {
    outline: none;
    border: 1px solid currentColor;
    padding: $XS $S;
    margin: $S;
    transition: filter $t-quick ease;
    border-radius: 5px;
    font: inherit;

    &:focus, &:hover {
        filter: saturate(2);
    }
    &:active{
        filter: saturate(2) hue-rotate(180deg);
    }
}