@import "Styles/sizes";

.root { 
    padding: $M;
    text-align: center;

    img {
        height: 50vh;
        background-color: rgba(#FFF, .75);
        padding: $M;
        border-radius: $M 0;
    }

    &>*:not(:first-child) {
        margin-top: $M;
    }

    a {
        // prevent margin not working
        display: inline-block;
    }
}